.error{
    color: red;
    font-size: small;
    display: block;
}

.flag{
    position: relative;
    top: 4px;
    right: 5px;
    left: 15px;
}

.flags{
    display: inline-flex;  
    position: relative;
    top: 3px;  
}

.flags div{
    padding: 0 0 0 10px;
    cursor: pointer;
}

.hidden-flag {
    display: none;
}

