<header>
    <div class="center">
        <div class="logo">
            <a routerLink="" routerLinkActive="active"><img src="assets/img/lud.jpg" alt="minha foto"></a>
        </div>
        <nav class="desktop">
            <ul>                    
                <li><a href="#apresentacao">{{'HOME.apresentacao' | translate }}</a></li>
                <li><a href="#formacao">{{'HOME.formacao' | translate }}</a></li>
                <li><a href="#experiencia">{{'HOME.experiencia' | translate }}</a></li>
                <li><a href="#projetos">{{'HOME.projetos' | translate }}</a></li>
                <li><a href="#contato">{{'HOME.contato' | translate }}</a></li>
                <li>
                    <!-- <div class="flags">
                        <div (click)="onLanguageChange('en')" *ngIf="translate.currentLang !== 'en'">
                            <img src="assets/img/usa.png" alt="Flag">
                        </div>
                        <div (click)="onLanguageChange('fr')" *ngIf="translate.currentLang !== 'fr'">
                            <img src="assets/img/france.png" alt="Flag">
                        </div>
                        <div (click)="onLanguageChange('pt-br')" *ngIf="translate.currentLang === 'fr' || translate.currentLang === 'en'">
                            <img src="assets/img/brazil.png" alt="Flag">
                        </div>
                    </div>  -->
                    
                    <form [formGroup]="formSelect" id="contactForm" class="formSelect">   
                        <select (change)="onLanguage()" formControlName="idioma" class="idiomas">
                            <option class="idiomaOption" value="en">{{'HOME.idioma.en' | translate }}</option>
                            <option class="idiomaOption" value="fr">{{'HOME.idioma.fr' | translate }}</option>
                            <option class="idiomaOption" value="pt-br">{{'HOME.idioma.pt-br' | translate }}</option>
                        </select> 
                    </form>
                    
                </li>
            </ul>
        </nav>
        <nav class="mobile">
            <i class="fa fa-bars"></i>
            <ul>                    
                <li><a href="#apresentacao">{{'HOME.apresentacao' | translate }}</a></li>
                <li><a href="#formacao">{{'HOME.formacao' | translate }}</a></li>
                <li><a href="#experiencia">{{'HOME.experiencia' | translate }}</a></li>
                <li><a href="#projetos">{{'HOME.projetos' | translate }}</a></li>
                <li><a href="#contato">{{'HOME.contato' | translate }}</a></li>
                <li>
                    <!-- <div class="flags">
                        <div (click)="onLanguageChange('en')" *ngIf="translate.currentLang !== 'en'">
                            <img src="assets/img/usa.png" alt="Flag">
                        </div>
                        <div (click)="onLanguageChange('fr')" *ngIf="translate.currentLang !== 'fr'">
                            <img src="assets/img/france.png" alt="Flag">
                        </div>
                        <div (click)="onLanguageChange('pt-br')" *ngIf="translate.currentLang === 'fr' || translate.currentLang === 'en'">
                            <img src="assets/img/brazil.png" alt="Flag">
                        </div>
                    </div> -->
                    <form [formGroup]="formSelect" id="contactForm" class="formSelect">   
                        <select (change)="onLanguage()" formControlName="idioma" class="idiomas">
                            <option class="idiomaOption" value="en">{{'HOME.idioma.en' | translate }}</option>
                            <option class="idiomaOption" value="fr">{{'HOME.idioma.fr' | translate }}</option>
                            <option class="idiomaOption" value="pt-br">{{'HOME.idioma.pt-br' | translate }}</option>
                        </select>  
                    </form>
                </li>                
            </ul>
        </nav>           
    </div>
</header>
<section class="banner">
    <div class="center">
        <div class="wrapper">
            <span style="--i:1; color: white;">C</span>
            <span style="--i:2; color: white;">O</span>
            <span style="--i:3; color: white;">D</span>
            <span style="--i:4; color: white;">E</span>
            <span style="--i:5; color: white;">.</span>
            <span style="--i:6; color: white;">.</span>
            <span style="--i:7; color: white;">.</span>
        </div>
    </div>
</section>
<section id="apresentacao" class="sobre">
    <div class="center">
        <div class="sobre-pic-outter">
            <div class="sobre-pic">
                <div class="sobre-icons">
                    <a href="https://www.linkedin.com/in/ludger-jean-louis-1a1b0a107/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="sobre-icons">
                    <a href="https://github.com/Ludger14" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="sobre-icons">
                    <a href="https://stackoverflow.com/users/22791243/ludger-jean-louis"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                </div>                    
            </div>
        </div>
        <div class="sobre-description">
            <h1>Ludger Jean Louis</h1>
            <h2>{{'HOME.profissao' | translate }}</h2>
            <p>{{'HOME.description' | translate }}</p>
        </div>            
    </div>        
</section>
<section id="formacao" class="formacao">
    <div class="center">
        <h3>{{'HOME.formacao' | translate }}</h3>
        <div class="form-content" *ngFor="let item of formationData">
            <div class="borda"></div>
            <div class="text">
                <p class="ano">{{ item.ano }}</p>
                <p class="profisao">{{ item.curso }}</p>
                <p class="nome-university">{{ item.instituicao }}</p>
            </div>                
        </div>
    </div>
</section>

<section id="experiencia" class="experiencia">
    <div class="center">
        <h3>{{'HOME.experiencia' | translate }}</h3>
        <div class="exp-content" *ngFor="let item of educationData">
            <div class="borda-exp"></div>
            <div class="text-exp">
                <p class="ano">{{ item.ano }}</p>
                <p class="profisao">{{ item.cargo }}</p>
                <p class="nome-university">{{ item.instituicao }}</p>
            </div>                
        </div>
    </div>
</section>

<section id="skill" class="skill">
    <div class="center">
        <h3>{{'HOME.talento' | translate }}</h3>  
        <div class="skillsContent" *ngFor="let item of skillsData" [class.active]="item.isActive" (click)="toggleActive(item)">
            <div class="skillsItem">
                <div class="itemAlign">
                    <i class="fa {{item.icone}}"></i>
                    <h4 class="title">{{ item.title }}</h4>
                    <i class="fa fa-angle-double-right spaceIcon" aria-hidden="true" *ngIf="item.isActive"></i>
                </div>
                <div class="itemAlign" *ngIf="item.isActive">
                    <ul>
                        <li *ngFor="let descricaoItem of item.descricao; let i = index"><span class="bolinha"></span> {{ descricaoItem.text }}</li>
                    </ul>
                </div>
            </div>     
        </div>
    </div>        
</section>

<section id="projetos" class="projetos">
    <div class="center">
        <h3>{{'HOME.projetos' | translate }}</h3>
        <div class="proj">
            <div class="content" *ngFor="let item of projetoData">                
                <div class="proj-content tooltip">
                    <div class="flip-container" >
                        <div class="flipper" >
                            <div class="front">
                                <img src="{{ item.img }}" alt="{{ item.nome }}">
                            </div>
                            <div class="back">
                                <img src="{{ item.imgBack }}" alt="{{ item.nome }}">
                            </div>
                        </div>
                    </div>                    
                    <div class="button">                        
                        <button><a target="_blank" href="{{ item.urlink }}">{{ item.exbProjeto }}</a></button>
                    </div>
                    <span class="tooltiptext">{{ item.nome }} - {{ item.ano }}</span>
                </div>
            </div>
        </div>            
    </div>
</section>  
<section class="contato" id="contato">
    <div class="center">
        <h2>{{'HOME.contato' | translate }}</h2>
        <div class="info-form">
            <div class="info">
                <p>{{'HOME.contatoQuestion' | translate }}</p> 
                <p>{{'HOME.contatoForm' | translate }}</p>
                <p>{{'HOME.contatoRedes' | translate }}</p>
                <div class="sociais">
                    <div class="redes">
                        <a href="https://www.facebook.com/ludger.jeanlouis/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div class="redes">
                        <a href="https://www.instagram.com/jeanludger/"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
                    </div>
                    <div class="redes">
                        <a href="https://api.whatsapp.com/send?phone=5521980146399"><i class="fa fa-whatsapp" aria-hidden="true" target="_blank"></i></a>
                    </div>
                </div>
            </div>
            <div class="form progressBar">  
                <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>                 
                <div *ngIf="mostrarMensagemErro && contentMessageSuccess !== null && contentMessageSuccess !== undefined" id="sucesso" class="sucesso">
                    <div class="iconeMessage">
                        <div class="sucess">
                            <i class="fa fa-check"></i>
                        </div>
                        <div>
                            <span>{{ contentMessageSuccess | translate }}</span>
                        </div>
                    </div>                     
                    <div class="closeJanela" (click)="fechar()">
                        <i class="fa fa-times"></i>
                    </div>                   
                </div>
                <div *ngIf="mostrarMensagemErro && contentMessageErro !== null && contentMessageErro !== undefined" id="erro" class="erro">
                    <div class="iconeMessage">
                        <div class="err">
                            <i class="fa fa-times"></i>
                        </div>
                        <div>
                            <span>{{ contentMessageErro | translate }}</span>
                        </div>
                    </div>                     
                    <div class="closeJanela" (click)="fechar()">
                        <i class="fa fa-times"></i>
                    </div>                   
                </div>                                     
                <form [formGroup]="form" (ngSubmit)="submit(form)" id="contactForm">                                          
                    <label for="nome">{{'HOME.form.nome' | translate }}</label>
                    <input matInput formControlName="nome" [(ngModel)]="porfolio.nome" type="text" id="nome" class="form-control" />  
                    <div *ngIf="form.controls['nome']?.dirty || form.controls['nome']?.touched">                 
                        <mat-error class="error" *ngIf="form.get('nome').hasError('required')">{{'HOME.form.CampoNome' | translate }}</mat-error>
                    </div> 
                    <label for="email">{{'HOME.form.email' | translate }}</label>
                    <input matInput formControlName="email" [(ngModel)]="porfolio.email" type="email" id="email" class="form-control" />  
                    <div *ngIf="form.controls['email']?.dirty || form.controls['email']?.touched">                 
                        <mat-error class="error" *ngIf="form.get('email').hasError('required')">{{'HOME.form.CampoEmail' | translate }}</mat-error>
                    </div>
                    <label for="assunto">{{'HOME.form.assunto' | translate }}</label>
                    <input matInput formControlName="subject" [(ngModel)]="porfolio.assunto" type="text" id="assunto" class="form-control" />  
                    <div *ngIf="form.controls['subject']?.dirty || form.controls['subject']?.touched">                 
                        <mat-error class="error" *ngIf="form.get('subject').hasError('required')">{{'HOME.form.CampoAssunto' | translate }}</mat-error>
                    </div>
                    <label for="mensagem">{{'HOME.form.mensagem' | translate }}</label>
                    <textarea name="mensagem" formControlName="message" [(ngModel)]="porfolio.mensagem" type="text" id="mensagem" cols="30" rows="10"></textarea>
                    <div *ngIf="form.controls['message']?.dirty || form.controls['message']?.touched">                 
                        <mat-error class="error" *ngIf="form.get('message').hasError('required')">{{'HOME.form.CampoMensagem' | translate }}</mat-error>
                    </div>
                    <input type="submit" value="{{'HOME.form.enviar' | translate }}" [disabled]="disableBox">                      
                </form>
                <button id="scrollToTopButton" (click)="scrollToTop()">&#9650;</button>
                <!-- <a href="https://api.whatsapp.com/send?phone=5521980146399" target="_blank" class="whatsapp-button">
                    <i class="fa fa-whatsapp"></i>
                </a> -->
            </div>
        </div>
    </div>
</section>